header{
    color: rgb(226, 90, 113);
}
p{
    color: rgb(145, 94, 103);
    font-size: 20px;
}

.maincon {
    border-radius: 50px;
    background-color: rgb(238, 210, 215);
    margin: 50px;
    padding: 50px;
    box-shadow: 300px black;
  
}

body{
    display: flex;
    justify-content: center;
    margin: 50px;
    background-color: rgb(194, 165, 169);
}


button{
    background-color: rgb(252, 128, 149);
    color: white;
}

img{
    border-radius: 200px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
}

h2{
    display: flex;
    justify-content: center;
    color: rgb(158, 58, 75);
}

label {
    color: rgb(145, 94, 103);
}

text{
    background-color: rgb(236, 217, 227);
}